.main_heading {
  font-family: "Montserrat-Regular";
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.charts_wrapper {
  width: 700px;
  max-width: 100%;
  margin: 10px auto 0px auto;
}
